* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}

main::before,
main::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: #EEE7DA;
}

main::before {
    left: -100px;
}

main::after {
    right: -100px;
}




section {
    padding: 60px;
    background-color: #EEE7DA;
    /* background-color: #FBF6EE; */

}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 550;
    font-family: 'Inconsolata', monospace;
}

/* ---------------------------------------------------- */
/* NAV SECTION   */
/* ---------------------------------------------------- */



/* ---------------------------------------------------- */
/* HERO SECTION   */
/* ---------------------------------------------------- */

.hero-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container p {
    position: absolute;
    text-align: center;
    color: #EEE7DA;
    font-size: 3.0em;
    font-weight: bold;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}






/* ---------------------------------------------------- */
/* ABOUT SECTION   */
/* ---------------------------------------------------- */

#about {
    width: 100%;
    height: 100vh;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-left {
    flex: 0 0 30%;
    padding: 20px;
    position: relative;
}


.square {
    width: 100%;
    max-width: 100%;
    padding-bottom: 75%; 
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
}


.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}







.row-right {
    flex: 0 0 70%;
    padding: 20px;
    /* background-color: #f0f0f0; */
}








/* ---------------------------------------------------- */
/* RESUME SECTION   */
/* ---------------------------------------------------- */

/* projects section  */


/* contact section  */



/* footer  */



/* body {
	width: 100 %;
	height: 100%;
	margin: 0px;
	padding: 0px;
} */


/* nav bar section  */

/* nav {
	background-color: #333;
	color: #fff;
	position: fixed;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   display: inline;
   margin: 10px;
} */